.mb-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.form-control {
    width: 300px;
    margin: 0 20px;
}

.boxes {
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap; */
    display: inline-block;
    margin: 0 20px;
}

.box-object {
    width: 100px;
    height: 100px;
}